<h1>SEARCH RESULTS</h1>

<ul>
	
	<% @results.each do |event|%>
		<li>
			<% @title =  event.title %>
			<%= link_to("#{@title}", event_path(event.id)) %> @ <%= event.date %><br>
		</li>
	<% end %>
</ul>