<H3>EVENTS ALREADY EXIST</H3>


<ul>
	<% @exist.each do |event| %>
		<li><%= event %></li>
	<% end %>
</ul>



<H3>EVENTS ADDED</H3>


<ul>
	<% @results.each do |event| %>
		<li><%= event %></li>
	<% end %>
</ul>

