<H2>EVENTS ALREADY EXIST</H2>


<ul>
	<% @exist.each do |event| %>
		<li><%= event %></li>
	<% end %>
</ul>



<H2>EVENTS ADDED</H2>


<ul>
	<% @results.each do |event| %>
		<li><%= event %></li>
	<% end %>
</ul>

