<h1>ADMIN LOGGED IN</h1>



<%= form_tag ("/admin/songkick_artists"), :method => :post do %>
	<%= label_tag(:artist, "Artist(s):") %>
	<%= text_field_tag(:artist) %>

	<%= submit_tag("Check It") %>
<% end %>


