a:link {
	color: #428bca;
}
a:visted {
	color: #000;
}
a:active {
	color: #000;
}
p {
	font-size: 16px;
}

.footer {
	height: 40px;
	position: relative !important;
	bottom: 0;
	background-color: #428bca;
	margin-top: 70px;
	clear: both;
}

