a:link {
	color: #428bca;
}
a:visted {
	color: #000;
}
a:active {
	color: #000;
}
p {
	font-size: 16px;
}
.alert {
	position: relative;
	top: 0;
	display: block;
	z-index: 2;
	margin-bottom: 0 !important;
}

.footer {
	height: 40px;
	position: relative !important;
	bottom: 0;
	background-color: #428bca;
	margin-top: 70px;
	clear: both;
}

